


###############################
# Un-ignore the affected subdirectory

!.pio/
.pio/*
!.pio/libdeps
.pio/libdeps/*
!.pio/libdeps/ttgo-t-watch
.pio/libdeps/ttgo-t-watch/*
!.pio/libdeps/ttgo-t-watch/TTGO TWatch Library

.pio/libdeps/ttgo-t-watch/TTGO TWatch Library/*
!.pio/libdeps/ttgo-t-watch/TTGO TWatch Library/src


.pio/libdeps/ttgo-t-watch/TTGO TWatch Library/src/*
!.pio/libdeps/ttgo-t-watch/TTGO TWatch Library/src/imgs

###############################

.vscode
deploy.sh
.gitignore
data/tile_map.ods
firmware_fork_list.json
